.PerMain{width:718px;min-height:600px;}
.UserInfo-top{}
.UserInfo-top .PerImg,.UserInfo-top .PerImg img{width:100px;height:100px;display:inline-block;}
.UserInfo-top .PerImg{position:relative;}
.UserTbale{margin-left:10px;}
.UserTbale th{color:#999;height:22px;vertical-align: top;}
.UserTbale td{color:#666;vertical-align: top;}
.PerName{padding-bottom:10px;display:inline-block;line-height:20px;}
.Info{border-top:1px dotted;}
.Info th,.Info td{padding:15px 0;height:10px;}
.WorkStory th,.WorkStory td{padding:7px 0;color:#666;}
.WorkStory thead th{font-size:13px;height:20px;line-height:20px;text-align: center;}
.WorkStory tbody th{text-align:left;}
.WorkStory tbody td{text-align:center;}
.WorkStory td{padding:5px;color:#999;}







































