/*字体颜色和边框*/
.AppLayout,.AppTopBar,.AppNav,.AppNavT,.word-ser li a:hover,.PerList li:hover{border-color:#D4E5F6;}/*辅助色*/
.word-ser li.current a{border-color:#0066CC;}/*主色*/
.PerList li{border-color:#E7E7E7;}/*灰色边框*/
.AppTopBar,.AppNavT ul li a:hover,.AppNavT ul li.current a{color:#0066CC;}
/*背景色*/
.AppTopBar,.word-ser li a:hover,.PerList li{background-color:#EDF4FB;}/*浅色*/
.PerList li:hover{background-color:#D4E5F6;}/*辅助色*/
.down-list li:hover,.word-ser li.current a{background-color:#0066cc;}/*深色*/













