<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改信息-弹出</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/per-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<!--弹出层begin-->
<div class="AppPop" style="left:50%;top:100px;margin-left:-300px;width:600px;">
  <div class="PopInner">
    <div class="PopTitle">
        <span>刘德华的人事档案</span>
        <span class="off">×</span>
    </div>
    <div class="PopMain clearfix">
        <!--左侧类目begin-->
        <div class="PopLeft floatleft">
            <ul>
                <li><a href="#" class="current">个人信息</a></li>
                <li><a href="#">社会信息</a></li>
                <li><a href="#">工作经历</a></li>
                <li><a href="#">院校经历</a></li>
                <li><a href="#">考勤信息</a></li>
                <li><a href="#">保险信息</a></li>
            </ul>
        </div>
        <!--左侧类目over-->
        <!--右侧详细信息begin-->
        <div class="PopRight border-solid">
            <div class="UserInfo-top">
                <span class="PerImg floatleft"><img src="../img/photo1.jpg"></span>
                <table class="UserTbale floatleft" width="350">
                    <tr><th colspan="4"><span class="PerName font16"><input type="text" class="edit"></span></th></tr>
                    <tr>
                        <th width="80">部门：</th>
                        <td colspan="3"><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>职级：</th>
                        <td width="80"><input type="text" class="edit"></td>
                        <th width="60">职位：</th>
                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>入职日期：</th>
                        <td colspan="3"><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>工作地点：</th>
                        <td colspan="3"><input type="text" class="edit"></td>
                    </tr>
                </table>
            </div>
            <table class="UserTbale nomar Info mart5" width="100%">
                    <tr>
                        <th width="60">手机：</th>
                        <td width="130"><input type="text" class="edit"></td>
                        <th width="60">办公电话：</th>
                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>电子邮件：</th>
                        <td colspan="3"><input type="text" class="edit"></td>
                    </tr>
            </table>
            <table class="UserTbale nomar Info mart5" width="100%">
                    <tr>
                        <th width="60">性别：</th>
                        <td width="60">
                            <select class="edit">
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </td>
                        <th width="50">学历：</th>
                        <td><input type="text" class="edit"></td>
                        <th width="40">民族：</th>
                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>国籍：</th>
                        <td><input type="text" class="edit"></td>
                        <th>省份：</th>
                        <td><input type="text" class="edit"></td>
                        <th>城市：</th>
                        <td><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>政治面貌：</th>
                        <td colspan="2"><input type="text" class="edit"></td>
                        <th>身份证号：</th>
                        <td colspan="2"><input type="text" class="edit"></td>
                    </tr>
                    <tr>
                        <th>出生日期：</th>
                        <td colspan="2" width="70"><input type="text" class="edit"></td>
                        <th width="70">银行卡号：</th>
                        <td colspan="2"><input type="text" class="edit"></td>
                    </tr>
            </table>
        </div>
        <p class="alignright mart5"><a class="button">保存信息</a></p>
        <!--右侧详细信息over-->
    </div>
  </div>
</div>
<!--弹出层over-->
</body>
</html>