<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>签订合同</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/per-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<div class="AppLayout border-solid">
    <!--app title begin-->
    <div class="AppTopBar border-solid border-bottom clearfix">
        <div class="TopBarl floatleft">
            <span class="AppLogo"><img src="../images/ico-8.png"></span>
            <em class="font18">人力资源</em>
        </div>
    </div>
    <!--app title over-->
    <!--一级导航begin-->
    <div class="AppNav border-solid border-bottom clearfix">
        <ul class="Nav-ul font14 clearfix">
            <li class="current"><a href="#">人事档案</a></li>
            <li><a href="#">合同管理</a></li>
            <li><a href="#">报表统计</a></li>
            <li><a href="#">我的档案</a></li>
            <li><a href="#">应用设置</a></li>
        </ul>
    </div>
    <!--一级导航over-->
    <!--二级导航begin-->
    <div class="AppNavT border-solid border-bottom clearfix">
        <ul class="font16 clearfix floatleft">
            <li><a href="#">员工合同</a></li>
            <li class="current"><a href="#">签订合同</a></li>
            <li><a href="#">到期合同</a></li>
            <li><a href="#">合同设置</a></li>
        </ul>
        <!--排序搜索begin-->
        <div class="floatright clearfix">
            <!--排序begin-->
            <div class="AppSequence floatleft marr10"><!--加current下拉框显示-->
                <a href="#">按时间排序</a>
                <em class="app-icon ico-toogle"></em>
                <div class="down-list">
                    <ul>
                        <li>按时间排序</li>
                        <li>按类别排序</li>
                        <li>按紧急排序</li>
                    </ul>
                </div>
            </div>
            <!--排序over-->
            <!--搜索框begin-->
            <div class="search-area floatleft">
                <input type="text" class="search-int">
                <em class="line-y"></em>
                <a href="#" class="search-btn"><i class="app-icon ico-search"></i></a>
            </div>
            <!--搜索框over-->
        </div>
        <!--排序搜索over-->
    </div>
    <!--二级导航over-->
    <!--app 主要区域begin-->
    <div class="AppMain clearfix">
        <!--左侧字母检索begin-->
        <ul class="word-ser floatleft">
            <li><a href="#">全部</a></li>
            <li class="current"><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">O</a></li>
            <li><a href="#">P</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">R</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">V</a></li>
            <li><a href="#">W</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Y</a></li>
            <li><a href="#">Z</a></li>
        </ul>
        <!--左侧字母检索over-->
        <!--员工卡片begin-->
        <div class="PerMain floatleft">
            <ul class="PerList contract clearfix">
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo5.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo3.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo1.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo4.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo3.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo2.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="CardTop clearfix">
                      <span class="PerImg floatleft"><img src="../images/photo1.jpg"/></span>
                      <dl class="floatleft">
                          <dd><span>王振佳</span></dd>
                          <dd>技术研发部</dd>
                          <dd>CTO</dd>
                      </dl>
                  </div>
                  <div class="CardBt clearfix">
                      <div class="CarTime">
                          <p class="clearfix">入职日期：2012-9-30</p>
                          <p class="alignright mart5"><a href="#"><em class="icon icon-edit"></em>签订合同</a></p>
                      </div>
                  </div>
                </li>
            </ul>
            <!--分页begin-->
            <div class="pagenation alignright">
                <div class="pageTop">
                    <a href="#" class="prev no">&lt;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <span class="current">3</span>
                    <a href="#">4</a>
                    <a href="#">9</a>
                    <span>...</span>
                    <a href="#" class="no">10</a>
                    <a href="#" class="next">&gt;</a>
                </div>
                <p class="pageBt"><span>共<em>14567</em>页</span><a href="#">最后一页</a></p>
            </div>
            <!--分页over-->
        </div>
        <!--员工卡片over-->
    </div>
    <!--app 主要区域over-->
</div>
</body>
</html>