<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改信息-院校经历</title>
    <link rel="stylesheet" href="../css/global.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/per-style.css" type="text/css">
    <link rel="stylesheet" href="../css/theme1.css" type="text/css">
</head>
<body>
<!--弹出层begin-->
<div class="AppPop" style="left:50%;top:100px;margin-left:-300px;width:600px;">
  <div class="PopInner">
    <div class="PopTitle">
        <span>刘德华的人事档案</span>
        <span class="off">×</span>
    </div>
    <div class="PopMain clearfix">
        <!--左侧类目begin-->
        <div class="PopLeft floatleft">
            <ul>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">社会信息</a></li>
                <li><a href="#">工作经历</a></li>
                <li><a href="#" class="current">院校经历</a></li>
                <li><a href="#">考勤信息</a></li>
                <li><a href="#">保险信息</a></li>
                <li><a href="#">合同信息</a></li>
            </ul>
        </div>
        <!--左侧类目over-->
        <!--右侧详细信息begin-->
        <div class="PopRight border-solid">
            <div class="UserInfo-top">
                <span class="PerImg floatleft"><img src="../images/photo1.jpg"></span>
                <table class="UserTbale floatleft" width="350">
                    <tr><th colspan="4"><em class="icon icon-user"></em><span class="PerName font16">刘德华</span></th></tr>
                    <tr>
                        <th width="80">部门：</th>
                        <td colspan="3">销售事业部</td>
                    </tr>
                    <tr>
                        <th>职级：</th>
                        <td width="80">高层</td>
                        <th width="60">职位：</th>
                        <td>总经理</td>
                    </tr>
                    <tr>
                        <th>入职日期：</th>
                        <td colspan="3">2013-10-28</td>
                    </tr>
                    <tr>
                        <th>工作地点：</th>
                        <td colspan="3">北京市建国门内大街280号</td>
                    </tr>
                </table>
            </div>
            <table class="UserTbale nomar Info WorkStory" width="100%">
                <thead>
                    <tr>
                        <th width="70" class="alignleft">院校名称</th>
                        <th width="60">入学日期</th>
                        <th width="60">毕业日期</th>
                        <th width="40">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>腾讯科公司</th>
                        <td>2010-02-10</td>
                        <td>2013-11-30</td>
                        <td>
                            <a href="#" class="icon icon-edit" title="修改"></a>
                            <a href="#" class="icon icon-delete" title="删除"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>北京泛海同创</th>
                        <td>2010-02-10</td>
                        <td>2013-11-30</td>
                        <td>
                            <a href="#" class="icon icon-edit" title="修改"></a>
                            <a href="#" class="icon icon-delete" title="删除"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>北京泛海同创</th>
                        <td>2010-02-10</td>
                        <td>2013-11-30</td>
                        <td>
                            <a href="#" class="icon icon-edit" title="修改"></a>
                            <a href="#" class="icon icon-delete" title="删除"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--添加一行begin-->
            <a href="#" class="add-more block aligncenter"><em class="icon icon-add"></em> 新增院校经历</a>
            <!--添加一行over-->
        </div>
        <p class="alignright mart5"><a class="button">修改信息</a></p>
        <!--右侧详细信息over-->
    </div>
  </div>
</div>
<!--弹出层over-->
</body>
</html>